* {
    background-color: rgb(51, 84, 248);
}

h1 {
    text-shadow: 2px 2px 4px rgb(126, 174, 241);
}

#biotext {
    color: white;
    text-shadow: 2px 2px 4px rgb(126, 241, 224);
}

.bio {
    font-size: large;
    width: 500px;
}

#face {
    height: 200px;
    width: 200px;
    object-fit: cover;

}