* {
    background-color: #48CAE4;
}

h1 {
    color: #03045E;
    text-shadow: 2px 2px 4px #0077B6;
    font-size: xx-large;
}

h2 {
    color: #023E8A;
    text-shadow: 2px 2px 4px #0077B6;

}

#biotext {
    color: white;
    text-shadow: 2px 2px 4px rgb(126, 241, 224);
}

.bio {
    font-size: large;
    width: 500px;
}

#face {
    height: 200px;
    width: 200px;
    object-fit: cover;

}